body, ul, h1, h2, h3, p {
  margin: 0;
}

header, footer {
  height: max-content;
  background-color: #8d8d8d;
  color: yellow;
  border: 4px solid #000;
  padding: 20px;
  text-align: center;
}

input {
  margin: 20px;
  font-size: 20px;
}

.inputs {
  text-align: center;
}

.gifList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.gifList img{
  padding: 20px;
  height: 200px;
  width: 200px;
}
